body {
    margin: 0;
}

.contain {
    border: 1px solid red;
    width: 100vw;
    height: 100vh;

    vertical-align: top;
    font-size: 0;
}

.block {
    border: 1px solid blue;
    height: 100vh;
    display: inline-block;
    box-sizing: border-box;
}

.contain .leftMenu {
    position:fixed;
    z-index: 0;
    width: 35%;
    background-color: rgb(52, 105, 88);
}

.contain .main {
    /* width: 65%;
     */
    position: relative;
    position:1;
    box-sizing: border-box;
    padding: 0px 0px 0px 520px;

    font-size: 100px;
}