body {
    margin: 0;
}

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}


.base_color {
    width: 100%;
    height: 120px;
    background-color: rgba(142, 194, 253, 0.836);
}

/* #main_top { 
    background-color:rgba(42, 96, 243, 0.979);
    height : 30px;
    weight: 80vw;
} */

