body {
    margin: 0;
    background-color: rgb(179, 175, 175);
}

.box {

    text-align: center;
}


[class^=container] {
    /* border: 1px solid red; */

    display: inline-block;
    vertical-align: top;
    width: 450px;
    height: 620px;
    margin: 50px 10px;
}

.box .container1 {
    background-image: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/80f9d9d02af9527ab358c361/pexels-photo-3335367.jpeg);
    background-size: cover;
}

.box .container2 {
    background-color: white;
    font-size: 16px;
    line-height: 1.9em;

    padding: 80px 30px;
    box-sizing: border-box;
    text-align: left;
}

.box .container2 .readmore {
    margin-top: 20px;
    border: 2px solid black;
    width: 120px;
    height: 40px;

    line-height: 40px;
    text-align: center;

    font-size: 14px;
    cursor: progress;
}