body {
    margin: 0px;
}

.box {
    background-color: rgb(219, 219, 219);
    text-align: center;
    padding: 70px 0;
}

.text1 {
    font-size: 40px;
    font-weight: 500;
}

[class^=container] {
    /* 박스 컨테이너 */
    /* border: 1px solid red; */

    display: inline-block;
    vertical-align: top;
    width: 320px;
    height: 400px;
    margin: 50px 10px;
}

[class^=image] {
    /* 이미지 컨테이너 */
    /* border: 1px solid blue; */

    width: 320px;
    height: 220px;


}

.image1 {
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/88834/images/34.jpg);
    background-size: cover;
}
.image2 {
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/88834/images/modern-studio-apartment-design-with-bedroom-living-space_1262-12375.jpg);
    background-size: cover;
}
.image3 {
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/88834/images/4.jpg);
    background-size: cover;
}

div>.text {
    /* 텍스트 컨테이너 */
    /* border: 1px solid blue; */

    width: 320px;
    height: 180px;

    background-color: white;

    text-align: center;
    font-size: 20px;
    font-weight: 500;

    box-sizing: border-box;
    padding: 20px 20px 0; 
    line-height: 1.1em;

}

.container .text .doll {
    /* 달러 폰트 디자인 */
    color : red ;
    font-weight: 600;
}

.container .text .view {
    /* 뷰 디자인 */
    font-size: 13px;
    border-bottom: 1px solid red;
}

.text2>span {
    border-bottom: 1px solid black;
    font-weight: 500;
}
