body {
    margin: 0px;
}

.main_box {
    /* border: 1px solid black; */
    background-color: rgb(255, 255, 255);
    margin: 60px 100px;
}

.main_box>.container {
    /* border: 1px solid red; */
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;

    width: 470px;
    height: 100vh;
}

.main_box .container .L_text1 {
    /* border: 1px solid blue; */

    font-size: 40px;
    font-weight: 600;
    line-height: 1.0em;

    margin-top: 70px;
}

.main_box .container .L_text2 {
    margin-top: 20px;
    margin-bottom: 60px;
    /* border: 1px solid rgb(0, 0, 255); */
    font-size: 15px;
}

.main_box .container .image1,
.main_box .container .image2 {

    margin-top: 20px;
    /* border: 1px solid rgb(115, 255, 220); */
    display: inline-block;
    height: 25%;
    width: 90%;

    background-image: url(https://images01.nicepage.com/bb/1d/bb1d2e5cabdda9d7e02aaf1f96309f50.jpeg);
    background-size: cover;
}

.main_box .container .L_text3 {
    border-left: 3px solid rgb(22, 104, 255);
    box-sizing: border-box;
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    padding: 20px 20px 0px;
}

.main_box .container .main_img {
    width: 100%;
    height: 50%;
    background-image: url(https://cdn.discordapp.com/attachments/902371372943159326/1453934545358553088/image.png?ex=694f4190&is=694df010&hm=2df4797ed63e4f423635d3f052a009a87ec79387be3fdf25858180ff6d24da3c&);
    background-size: cover;

    margin-bottom: 20px;
}

.container .R_text1 {
    /* border: 1px solid red; */
    padding-left: 50px;
    padding-right: 50px;
    font-size: 15px;
}